.PhotoGallery {
  text-align: center;
}


.PhotoGallery-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.PhotoGallery-title {
  font-size: 1.5em;
}

.PhotoGallery-intro {
  font-size: large;
}

