body{
    background-image: url("https://tinyurl.com/y77c3y32");
}

#container {
    display: flex;           
    flex-direction: column;  
    justify-content: center; 
    align-items: center;     
    height:500px;


}



.box {
  display: inline-block;
  border-radius: 4px;
  background-color: #f4511e;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 20px;
  width: 400px;
  height:100px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  text-align: center;     

}

.box span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.box span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.box:hover span {
  padding-right: 25px;
}

.box:hover span:after {
  opacity: 1;
  right: 0;
}
